.container {
    width: 60%;
    margin: auto;
    @media (max-width: 1500px) {
        width: 70%;
    }
    @media (max-width: 1200px) {
        width: 80%;
    }
    @media (max-width: 992px) {
        width: 85%;
    }
}