.download {
    text-align: center;
    padding: 100px 0;
    &__title {
        font-size: 28px;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 16px;
    }
    &__subtitle {
        font-size: 13px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase; 
        margin-bottom: 40px;
    }
    &__btn {
        padding: 18px 83px;
    }
}