.header {
    background: url(/img/header/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 38px 0px;
        border-bottom: 1px solid $gray;
        @media (max-width: 992px) {
            align-items: flex-start;
        }
    }
    &__logo {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        span {
            color: $medium-gray;
            font-weight: 1000;
        }
    }
    &__menu {
        display: flex;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-end;
        }
        ul {
            display: flex;
            flex-direction: row;
            @media (max-width: 992px) {
                display: none;
                flex-direction: column;
            }
        }
    }
    &__item {
        a {
            font-size: 13px;
            text-transform: uppercase;
            margin-left: 60px;
            color: white;
            @media (max-width: 992px) {
                font-size: 24px;
            }
        }
        :hover {
            color: $tomato;
        }
        @media (max-width: 992px) {
            text-align: right;
            margin-top: 50px;
        }
    }
    &__body {
        text-align: center;
    }
    &__title {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 55px;
        font-weight: 700;
        line-height: 71px;
        text-transform: uppercase;
        margin: 155px 155px 40px 155px;
        @media (max-width: 1500px) {
            margin: 135px 125px 40px 125px;
        }
        @media (max-width: 992px) {
            margin: 100px 95px 40px 95px;
        }
        @media (max-width: 768px) {
            font-size: 45px;
            line-height: 51px;
            margin: 40px 50px;
        }
        @media (max-width: 576px) {
            font-size: 30px;
            line-height: 31px;
            margin: 40px 50px;
        }
    }
    &__subtitle {
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin: 0 130px;
        @media (max-width: 1500px) {
            margin: 0 95px;
        }
        @media (max-width: 992px) {
            margin: 0 70px;
        }
        @media (max-width: 768px) {
            font-size: 20px;
        }
        @media (max-width: 576px) {
            font-size: 20px;
            margin: 20px;
        }
    }
    &__btn {
        padding: 18px 50px;
        margin: 77px 0px 156px 0px;
        @media (max-width: 1500px) {
            margin: 67px 0px 136px 0px;
        }
        @media (max-width: 992px) {
            margin: 57px 0px 116px 0px;
        }
        @media (max-width: 768px) {
            margin: 47px 0px 96px 0px;
        }
        @media (max-width: 576px) {
            margin: 37px 0px 66px 0px;
        }
    }
}