.testimonials {
    &__slider {
        position: relative;
        height: 480px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        @media (max-width: 1500px) {
            height: 420px;
        }
        @media (max-width: 1200px) {
            height: 360px;
        }
        @media (max-width: 992px) {
            height: 280px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__slide {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        box-sizing: border-box;
        -webkit-transition: opacity 2s;
        -moz-transition: opacity 2s;
        -o-transition: opacity 2s;
        transition: opacity 2s;
    }
}

.visible {
    opacity: 1;
    z-index: 2;
}

.slide-item {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    div {
        width: 50%;
        background-color: $purple;
        justify-content: end;
    }
    h5 {
        margin: 114px 0px 30px 85px;
        max-width: 55%;
        font-family: 'Cardo', serif;
        font-size: 36px;
        font-weight: 100;
        line-height: 42px;
        color: $white;
        @media (max-width: 1500px) {
            margin: 80px 0px 30px 85px;
            font-size: 33px;
        }
        @media (max-width: 1200px) {
            max-width: 60%;
            margin: 50px 0px 30px 75px;
            font-size: 28px;
            line-height: 35px;
        }
        @media (max-width: 992px) {
            max-width: 70%;
            margin: 40px 0px 30px 45px;
            font-size: 24px;
            line-height: 30px;
        }
    }
    p {
        font-size: 13px;
        font-weight: 500;
        line-height: 21px;
        text-transform: uppercase;
        color: $white;
        margin-left: 85px;
        @media (max-width: 992px) {
            margin-left: 45px;
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
}