
//sizes
$containerWidth: 60%;

//colors
$logoSpanColor: #66697e;
$headerBorderColor: #505369;
$defaultButtonColor: #e84545;
$footerLightColor: #3a3e64;
$footerDarkColor: #313454;

$white: #ffffff;
$tomato: #e84545;
$light-gray: #c6cacc;
$dark-gray: #2d3033;
$medium-gray: #6c7279;
$dark: #000000;
$purple: #53354a;
$light-blue: #3a3e64;
$medium-blue: #313454;







